configuration {
  font:                "Iosevka 18";
  display-drun:        "search: ";
  drun-display-format: "{name}";
}

@theme "/dev/null"

* {
  bg:               #000000;
  fg:               #eeeeee;
  bg-alt:           #eeeeee;
  fg-alt:           #000000;
  pad:              8px 16px;
  background-color: @bg;
  text-color:       @fg;
}

window {
  background-color: @bg;
  text-color:       @fg;
  width:            640px;
  height:           390px;
  border:           1px;
  border-color:     @bg-alt;
  // border-radius:    4px;
}

inputbar {
  children: [prompt, entry];
  background-color: @bg;
  text-color:       @fg;
  padding:          @pad;
}

entry {
  background-color: @bg;
  text-color:       @fg;
}

element {
  background-color: @bg;
  text-color:       @fg;
  padding:          @pad;
}

element selected {
  background-color: @bg-alt;
  text-color:       @fg-alt;
}

element-text {
  background-color: inherit;
  text-color:       inherit;
}
