* {
  font-family: Iosevka Nerd Font;
  font-size: 20px;
  min-height: 0px;
  border: none;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
}

window#waybar {
  background-color: #000000;
  color: #eeeeee;
}

#workspaces button {
  background-color: #000000;
  color: #eeeeee;
  padding: 0px 5px;
}

#workspaces button.empty {
  opacity: 0.25;
}

#workspaces button.active {
  background-color: #eeeeee;
  color: #000000;
}

#cpu,
#memory,
#network,
#pulseaudio,
#language,
#clock {
  padding: 0px 10px;
}

#network.disconnected,
#pulseaudio.muted {
  color: #404040;
}

button {
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  transition: none;
}

tooltip {
  background-color: #000000;
  color: #eeeeee;
  border: 1px solid #eeeeee;
}
