* {
  font-family: Iosevka Nerd Font;
  font-size: 18px;
  min-height: 0px;
  border: none;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
}

window#waybar {
  color: #eeeeee;
  background: #000000;
}

#workspaces button {
  color: #eeeeee;
  background: #000000;
  padding: 0px 4px;
}

#workspaces button.empty {
  opacity: 0.25;
}

#workspaces button.active {
  color: #000000;
  background: #eeeeee;
}

#window {
  margin-left: 5px;
}

#cpu,
#memory,
#network,
#pulseaudio,
#language,
#clock {
  padding: 0px 10px;
}

button {
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  transition: none;
}

tooltip {
  color: #eeeeee;
  background: #000000;
}
