/* @define-color fg #eeeeee; */
@define-color fg #e0e0e0;
@define-color bg #000000;

* {
  font-family: Iosevka Nerd Font;
  font-size: 18px;
  min-height: 0px;
  border: none;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
}

window#waybar {
  color: @fg;
  background: @bg;
}

#workspaces button {
  color: @fg;
  background: @bg;
  padding: 0px 4px;
}

#workspaces button.empty {
  opacity: 0.25;
}

#workspaces button.active {
  color: @bg;
  background: @fg;
}

#window {
  margin-left: 5px;
}

#language,
#pulseaudio,
#cpu,
#custom-gpu,
#memory,
#network,
#clock {
  padding: 0px 10px;
}

button {
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  transition: none;
}

tooltip {
  background: @bg;
}

tooltip label {
  color: @fg;
}
